@import 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $grey;
  .header {
    display: flex;
    background-color: $white;
  }

  .main {
    max-width: 1024px;
    margin: 0 auto;
    .top-content {
      display: flex;
    }

    .slider {
      text-align: center;
      .slide {
        min-height: 50px;
        background-color: lightgray;
        img {
          width: 100%;
        }
      }
    }

    .content {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      .item {
        flex-basis: 33%;
        background-color: darkred;
        border: 1px solid black;
      }
    }

    .comment {
      display: flex;
      .item {
        flex-basis: 50%;
        display: flex;
      }
    }
  }
}

.footer {
  color: white;
  background-color: darkcyan;
}